/* CSS stillerinizi buraya girin */
.container{
    max-width: 1000px;
    min-width: 200px;
    margin: auto;
}

header{
    background-color: #e093c9;
    padding: 20px;
    border-bottom: black solid 2px;
}

h1{
    padding: 0 15px;
    font-size: 35px;
}

.flex-container{
    display: flex;
    align-items: center;
}

nav a{
    background: white;
    padding: 5px;
    border: 2px solid black;
    text-decoration: none;
}

main{
    display: flex;
    align-items: flex-end;
}

main img{
    width: 45%;
    padding: 2% 3%;
    height: 50%;
}

main div{
    padding: 2% 3%;
}

main nav a{
    padding: 1% 5%;
    border: solid black;
}

.image-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-section figure{
    width: 17%;
    height: 17%;
    display: block;
    text-align: center;
}

figure img{
    width: 90%;
    height: 90%;
}

footer{
    background-color: #e093c9;
    padding: 20px;
    text-align: center;
}
footer nav{
    padding-top: 10px;
    padding-bottom: 20px;
}

nav a:hover{
    background-color: black;
    border-color: white;
    color: white;
}
/* Genel Stil Düzenlemeleri */

/* Tablet Ekranları için Stil Düzenlemeleri */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center; /* Metni merkeze alma */
    }

    nav a {
        margin: 5px 0;
    }

    main {
        flex-direction: column;
        align-items: center; /* Metni merkeze alma */
    }

    main img {
        width: 100%;
        padding: 2% 0;
    }

    main div {
        padding: 2% 0;
    }

    main nav a {
        padding: 5px 0;
    }

    .image-section figure {
        width: 100%; /* Resimleri tam ekran boyutuna ayarlama */
        text-align: center;
    }

    figure img {
        width: 100%;
        height: auto;
    }
}

/* Mobil Ekranlar için Stil Düzenlemeleri */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    main img {
        padding: 0;
    }

    main div {
        padding: 2% 0;
    }

    main nav a {
        padding: 5px 0;
    }

    .image-section figure {
        width: 100%;
        text-align: center;
    }

    .flex-container {
        padding: 5px; /* Mobil cihazlarda boşluk ekleme */
    }
}